.mabody {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 11px; color: #333333; font-weight: normal}
td {  font-family: "µ¸¿ò","Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 13px; color: #333333; font-weight: normal}
a {  font-family: "µ¸¿ò","Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 13px; color: #333333; text-decoration: none}
a:hover { font-family: "µ¸¿ò","Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 13px; color: #558062; text-decoration:underline}
