menu {font-family: "Arial", "Helvetica", "sans-serif"; font-size: 12px; color: #FFFFFF; font-weight: normal ;text-decoration: none}
td {  font-family: "±¼¸²","Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 9pt; color: #333333; font-weight: normal; LINE-HEIGHT:150% }
.sbody {FONT-SIZE:9pt;color:#505050;FONT-FAMILY:gulim,dotum,seoul,Arial}
.subDir {  font-family: "±¼¸²","Verdana", "Arial", "Helvetica", "sans-serif"; font-size:9pt; color: #FFFFFF; font-weight: normal;}
.basic {line-height: 150%; font-family: "±¼¸²"; font-size: 9pt; color: #828282; font-weight: normal ;text-decoration: none}
.main {line-height: 150%; word-spacing: 0.2em; letter-spacing: 0.1em;letter-spacing: 0.1em; font-family: "±¼¸²"; font-size: 9pt; color: #787777; font-weight: normal ;text-decoration: none}
.basic2 {font-family: "±¼¸²"; font-size: 12px; color: #000000; font-weight: normal ;text-decoration: none}
a { font-family: "±¼¸²Ã¼";font-size: 9pt;color: #828282; text-decoration: none}
a:hover { font-family: "±¼¸²Ã¼";font-size: 9pt; color: #828282; text-decoration: none}
BODY 

